.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.buttons {
  margin: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.road {
  margin-top: 50px;
  width: 100%; /* Larghezza del contenitore */
  height: 100px; /* Altezza del contenitore */
  position: relative;
  background-color: #f4f4f4;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.car {
  font-size: 40px;
  position: absolute;
  top: 30%; /* Posiziona la macchina verticalmente al centro del contenitore */
  transform: translateX(500px); /* Posizione iniziale alla destra del contenitore */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-image {
  width: 150px;
  height: auto;
}